/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    background-image: url('C:\Users\wjaya\OneDrive\Desktop\download.jpeg'); /* Replace with your image file name */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #39804e;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #b40912;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#about {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
    line-height: 1.6;
}

#achievements {
    margin-top: 20px;
    background-color: #2980b9 ; /* Blue background for awards and honors */
    padding: 20px;
    border-radius: 5px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

#actual-info {
    margin-top: 20px;
    background-color: #27ae60; /* Green background for actual information */
    padding: 20px;
    border-radius: 5px;
    color: #194970; /* White text color for better contrast */
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #2980b9;
}

   

